<!DOCTYPE html>
<html>
<head>
  <title>Beaker Job Submission</title>
  <script src="node_modules/vue/dist/vue.min.js"></script>
  <script src="node_modules/vuetify/dist/vuetify.js"></script>
  <script src="node_modules/axios/dist/axios.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Iceland" rel="stylesheet">
  <link href="/node_modules/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css">
  <link href="static/styles.css" rel="stylesheet">
</head>
<body>

  <v-app id="app">
    <h2 class="text-xs-center">BEAKER JOB SUBMISSION</h2>
    <v-stepper id="stepper" class="elevation-5" v-model="e1">
      <v-stepper-header>
        <v-stepper-step step="1" :complete="eUser && e1 > 1" :rules="[validateStepOne]">
          User
          <small v-if="!validOne">No user selected!</small>
          <small v-else>{{ eUser }}</small>
        </v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step step="2" :complete="eOS && e1 > 2" :rules="[validateStepTwo]">
          Operating System
          <small v-if="!validTwo">No OS selected!</small>
          <small v-else-if="eOS">{{ eOS.distro }}</small>
        </v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step step="3" :complete="e1 > 3">
          Kernel Patch
          <small v-if="!eKP">Optional</small>
          <small v-else-if="eKP">{{ eKP }}</small>
        </v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step step="4" :complete="eTest && e1 > 4" :rules="[validateStepFour]">
          Test
          <small v-if="!validFour">No test selected!</small>
          <small v-else>{{ eTest }}</small>
        </v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step step="5" :complete="ePool && e1 > 5" :rules="[validateStepFive]">
          Target Pool
          <small v-if="!validFive">No pool selected!</small>
          <small v-else>{{ ePool }}</small>
        </v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step step="6">Review & Submit</v-stepper-step>
      </v-stepper-header>
      <!-- step 1 content -->
      <v-stepper-content step="1">
        <v-card class="mb-2" height="500px">
          <div class="step-title text-xs-center px-3 py-5">Select your Beaker user ID</div>
          <v-select class="picker"
            :items="users"
            v-model="eUser"
            label="Select User ID"
            item-text="full"
            item-value="username"
            :rules="[validateUserID]"
          ></v-select>
        </v-card>
        <v-btn primary @click.native="e1 = 2">Continue</v-btn>
      </v-stepper-content>
      <!-- step 2 content -->
      <v-stepper-content step="2">
        <v-card class="mb-2" height="500px">
          <v-expansion-panel>
            <v-expansion-panel-content v-for="(distro,i) in distros" :key="i">
              <div slot="header">{{distro.name}}</div>
              <div class="exp-panel-content">
                <v-radio-group v-model="eOS">
                  <v-radio
                    class="ml-4 py-2"
                    v-for="(version, j) in distro.versions" :key="j"
                    :value="{family: distro.name, distro: version}">
                    <div slot="label">{{ version }}</div>
                  </v-radio>
                </v-radio-group>
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-card>
        <v-btn primary @click.native="e1 = 3">Continue</v-btn>
        <v-btn flat error @click.native="e1 = 1">Back</v-btn>
      </v-stepper-content>
      <!-- step 3 content -->
      <v-stepper-content step="3">
        <v-card class="mb-2" height="500px">
          <div class="step-title text-xs-center px-3 pt-5 pb-3">Select a kernel patch</div>
          <div class="step-sub-title text-xs-center px-3 pt-1 pb-4">This step is optional</div>
          <v-select class="picker"
            :items="kernelPatches"
            v-model="eKP"
            label="Select Kernel Patch"
            item-text="name"
            item-value="name"
          ></v-select>
        </v-card>
        <v-btn primary @click.native="e1 = 4">Continue</v-btn>
        <v-btn flat error @click.native="e1 = 2">Back</v-btn>
      </v-stepper-content>
      <!-- step 4 content -->
      <v-stepper-content step="4">
        <v-card class="mb-2" height="500px">
          <div class="exp-panel-container">
            <v-expansion-panel>
              <v-expansion-panel-content v-for="(test,i) in tests" :key="i">
                <div slot="header">{{test.category}}</div>
                <div class="exp-panel-content">
                  <v-radio-group v-model="eTest">
                    <v-radio
                      class="ml-4 py-2"
                      v-for="(task, j) in test.tasks" :key="j"
                      :value="task">
                      <div slot="label">{{ task }}</div>
                    </v-radio>
                  </v-radio-group>
                </div>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </div>
        </v-card>
        <v-btn primary @click.native="e1 = 5">Continue</v-btn>
        <v-btn flat error @click.native="e1 = 3">Back</v-btn>
      </v-stepper-content>
      <!-- step 5 content -->
      <v-stepper-content step="5">
        <v-card class="mb-2" height="500px">
          <div class="step-title text-xs-center px-3 py-5">Select the target pool</div>
          <v-select class="picker"
            :items="pools"
            v-model="ePool"
            label="Select Pool"
            item-text="name"
            item-value="name"
            :rules="[validatePool]"
          ></v-select>
        </v-card>
        <v-btn primary @click.native="e1 = 6">Continue</v-btn>
        <v-btn flat error @click.native="e1 = 4">Back</v-btn>
      </v-stepper-content>
      <!-- step 6 content -->
      <v-stepper-content step="6">
        <v-card class="mb-2" height="500px">
          <div class="step-title py-4 px-4">Username: <span class="green--text text-cs-center">{{ eUser }}</span></div>
          <div class="step-title py-4 px-4">Operating System: <span v-if="eOS" class="green--text">{{ eOS.distro }}</span></div>
          <div v-if="eKP" class="step-title py-4 px-4">Kernel Patch: <span v-if="eKP" class="green--text">{{ eKP }}</span></div>
          <div class="step-title py-4 px-4">Test: <span class="green--text">{{ eTest }}</span></div>
          <div class="step-title py-4 px-4">Target Pool: <span class="green--text">{{ ePool }}</span></div>
        </v-card>
        <v-btn
          class="success"
          :loading="loading"
          @click.native="submitJob"
          :disabled="!(eUser && eOS && eTest && ePool) || loading"
        >
          Go
          <span slot="loader">Loading...</span>
        </v-btn>
        <v-btn flat error @click.native="e1 = 5">Back</v-btn>
      </v-stepper-content>
    </v-stepper>
    <!-- notification of job submission status -->
    <v-alert
      class="mt-4"
      style="width: 70%; margin: auto"
      v-if="jobStatusSuccess"
      success
      icon="check_circle"
      transition="scale-transition"
      dismissible
      v-model="submitAlert"
    >
      Job Submitted Successfully
    </v-alert>
    <v-alert
      class="mt-4"
      style="width: 70%; margin: auto"
      v-else-if="!jobStatusSuccess"
      error
      icon="warning"
      transition="scale-transition"
      dismissible
      v-model="submitAlert"
    >
      Error Submitting Job
    </v-alert>
  </v-app>

  <script>
    Vue.use(Vuetify)

    new Vue({
      el: '#app',
      data: {
        host: 'http://10.76.144.103:3030',
        e1: 1,
        loading: false,
        jobStatusSuccess: false,
        submitAlert: false,
        eUser: null,
        eOS: null,
        eKP: null,
        eTest: null,
        ePool: null,
        validOne: true,
        validTwo: true,
        validFour: true,
        validFive: true,
        users: [],
        distros: [],
        kernelPatches: [],
        tests: [],
        pools: []
      },
      methods: {
        submitJob () {
          this.loading = true
          let test = this.eTest.split('/')[this.eTest.split('/').length-1]
          let cmd = 'bkr workflow-simple --username='+this.eUser+' --password=beaker \
          --family='+this.eOS.family+'  --distro="'+this.eOS.distro+'" \
          --hostrequire=pool='+this.ePool+' \
          --kernel-options="ip=enP6p1s0:dhcp ifname=enP6p1s0:A0:36:9F:D7:73:BD cma=1024M" \
          --ks-meta="clearpart=--initlabel --all zerombr ignoredisk=--only-use=/dev/disk/by-path/platform-APMC0D33:01-ata-1.0" \
          --kernel-options-post="iommu.passthrough=0" \
          --whiteboard=pool_'+this.ePool+'_'+this.eOS.distro+'_'+test+' \
          --task='+this.eTest

          // POST command to be executed by backend server
          axios.post(this.host + '/api/job/execute_job', {
            command: cmd
          })
          .then((res) => {
            this.submitAlert = true
            this.jobStatusSuccess = true
            this.loading = false
          })
          .catch((err) => {
            console.log(err)
            this.submitAlert = true
            this.jobStatusSuccess = false
            this.loading = false
          })

        },
        validateUserID () {
          if (!this.eUser) return 'Required'
          return true
        },
        validateStepOne () {
          if (this.eUser == null && this.e1 > 1) this.validOne = false
          else this.validOne = true
          return this.validOne
        },
        validateStepTwo () {
          if (this.eOS == null && this.e1 > 2) this.validTwo = false
          else this.validTwo = true
          return this.validTwo
        },
        validateStepFour () {
          if (this.eTest == null && this.e1 > 4) this.validFour = false
          else this.validFour = true
          return this.validFour
        },
        validateStepFive () {
          if (this.ePool == null && this.e1 > 5) this.validFive = false
          else this.validFive = true
          return this.validFive
        },
        validateTest () {
          if (!this.eTest) return 'Required'
          return true
        },
        validatePool () {
          if (!this.ePool) return 'Required'
          return true
        }
      },
      created: function() {
        // execute query
        axios.get(this.host + '/api/query/lab_data')
        .then((res) => {
          this.users = res.data.users
          this.distros = res.data.distros
          this.kernelPatches = res.data.patches
          this.pools = res.data.pools
          this.tests = res.data.tests
        })
        .catch((err) => {
          console.log(err)
        })
      }
    })
  </script>
</body>
</html>
