html {
  overflow: hidden;
}

body {
  background: url(seamless_paper_texture.png) repeat 0 0;
}

/* override vuetify background color */
.application--light {
    background: none !important;
}

h2 {
  margin: auto;
  margin-top: 60px;
  margin-bottom: 30px;
  font-family: 'Iceland', sans-serif;
  font-size: 6vmin;
  text-shadow: 5px 5px 1px #ccc;
}

#stepper {
  width: 70%;
  margin: auto;
  background-color: #f5f5f5;
}

.stepper-card {
  height: 50vh !important;
}

.picker {
  width: 50%;
  margin: auto;
  margin-top: 30px;
}

.step-title {
  font-size: 3vmin;
}

.step-sub-title {
  font-size: 2vmin;
}

.exp-panel-content {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

.exp-panel-container {
  max-height: 100%;
  overflow-y: auto;
}
